body{
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    
    color: #FFFFFF;
    background: url(images/senset.jpg) no-repeat right;
    background-color: #000033;
}

nav {
    background-color: #90C7E3;
    font-weight: bold;
}

h1,h2,h3{
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2,h3 {
    color: #000033;
}

h1{
    margin-bottom: 0px;
}

ul{
    list-style-image: url(images/marker.gif);
}

footer{
    font-size:75%
}



.resort {
    color: #5C7FA3;
}

#contact {
    font-size: 90%;
}